.email-preview {
   background-color: rgb(255, 97, 97);
   display: flex;
   padding: 15px;
   border: 2px solid rgb(255, 242, 128);
}

.email-preview:hover {
   background-color: rgb(255, 159, 159);
}

.email-preview div:nth-child(2) {
   display: none;
}

.email-preview:hover div:last-of-type {
   display: block;
}