.email-preview {
   background-color: rgb(255, 97, 97);
   display: flex;
   padding: 15px;
   border: 2px solid rgb(255, 242, 128);
}

.email-preview:hover {
   background-color: rgb(255, 159, 159);
}

.email-preview:hover div:last-of-type {
   display: block;
}

.email-preview .btn-container button {
   width: 28px;
   height: 28px;
}

.email-preview .btn-container button:first-of-type {
   background: url(../imgs/star.png) no-repeat;
   background-size: contain;
}

.email-preview div button:last-of-type {
   background: url(../imgs/delete.png) no-repeat;
   background-size: contain;
}