.keep-preview {
   flex-direction: column;
   background-color: rgb(105, 194, 54);
   display: flex;
   padding: 15px;
   border-radius: 5px;
   margin-top: 50px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
   transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.keep-preview:hover {
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.keep-preview * {
   margin: 5px;
}

.keep-preview img {
   max-width: 250px;
   height: 220px;
   object-fit: cover;
}

.keep-preview iframe {
   max-width: 260px;
   height: 250px;
}

.keep-preview textarea {
   height: 220px;
}

.keep-preview div {
   display: flex;
   flex-grow: 1;
   justify-content: center;
}

.keep-preview img {
   margin: 0;
}

.keep-preview div * {
   width: 100%;
}

.keep-preview .btn-actions, .keep-preview .btn-actions+p {
   visibility: hidden;
}

.keep-preview:hover .btn-actions, .keep-preview:hover .btn-actions+p {
   visibility: visible;
}

.keep-preview .btn-actions button, .keep-preview .btn-actions label {
   height: 25px;
   width: 25px;
}

.keep-preview .btn-actions button.not-pinned {
   background: url(../imgs/push-pin_off.png) no-repeat;
   background-size: cover;
}

.keep-preview .btn-actions button.pinned {
   background: url(../imgs/push-pin_on.png) no-repeat;
   background-size: cover;
}

.keep-preview .btn-actions label {
   background: url(../imgs/pallete.png) no-repeat;
   background-size: contain;
   cursor: pointer;
}

.keep-preview .btn-actions input[type=color] {
   visibility: hidden;
   border: none;
}

.keep-preview .btn-actions button:last-child {
   background: url(../imgs/delete.png) no-repeat;
   background-size: cover;
}

.keep-preview .todo-container {
   display: flex;
   flex-grow: 1;
   align-items: center;
   margin: 10px;
}

.keep-preview aside button {
   margin-inline-end: 10px;
}

.keep-preview input[name=title] {
   font-size: 1.25rem;
   border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.keep-preview input[type=checkbox]:checked+h4 {
   text-decoration: line-through;
   opacity: 0.7;
}

.keep-preview .top-pin {
   background: url(../imgs/pinned.png) no-repeat;
   background-size: contain;
   height: 15px;
   width: 15px;
}

.keep-preview .add-container button {
   height: 50px;
   width: 50px;
   transition: 0.2s;
}

.keep-preview .add-container button:hover {
   transform: scale(1.05);
}

.keep-preview .add-container button:active {
   transform: scale(0.97);
}

.keep-preview .add-container section button:first-child {
   background: url(../imgs/text.png) no-repeat;
   background-size: cover;
}

.keep-preview .add-container section button:last-child {
   background: url(../imgs/image.png) no-repeat;
   background-size: cover;
}

.keep-preview .add-container aside button:first-child {
   background: url(../imgs/list.png) no-repeat;
   background-size: cover;
}

.keep-preview .add-container aside button:last-child {
   background: url(../imgs/video.png) no-repeat;
   background-size: cover;
}