.keep-nav {
    width: 250px;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    position: fixed;
    float: left;
    z-index: 1;
    padding: 30px;
    padding-top: 150px;
}

.keep-nav li {
    padding: 5px;
}