.keep-preview {
   flex-direction: column;
   background-color: rgb(105, 194, 54);
   display: flex;
   padding: 15px;
   border-radius: 5px;
   margin-top: 50px;
}

.keep-preview * {
   margin: 5px;
}

.keep-preview img {
   max-width: 220px;
   height: 220px;
   object-fit: cover;
}

.keep-preview textarea {
   height: 220px;
}

.keep-preview div {
   display: flex;
   flex-grow: 1;
   justify-content: center;
}

.keep-preview img {
   margin: 0;
}

.keep-preview div * {
   width: 100%;
}

.keep-preview .todo-container {
   display: flex;
   flex-grow: 1;
   align-items: center;
   margin: 10px;
}

.keep-preview aside button {
   margin-inline-end: 10px;
}

.keep-preview input:first-of-type {
   font-size: 1.8rem;
}

.keep-preview input[type=checkbox]:checked+h4 {
   text-decoration: line-through;
}

.upload-container label {
   background-color: #5DADE2;
   font-size: 1.25rem;
   color: white;
   text-align: center;
   height: 50px;
   line-height: 50px;
   cursor: pointer;
}