/* FLEX */

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.row {
    flex-direction: row;
}

.flex.col {
    flex-direction: column;
}

.flex.j-start {
    justify-content: flex-start;
}

.flex.j-end {
    justify-content: flex-end;
}

.flex.a-start {
    align-items: flex-start;
}

.flex.a-end {
    align-items: flex-end;
}

.flex.j-center {
    justify-content: center;
}

.flex.j-around {
    justify-content: space-around;
}

.flex.j-between {
    justify-content: space-between;
}

.flex.j-evenly {
    justify-content: space-evenly;
}

.flex.a-center {
    align-items: center;
}

/* GRID */

.grid {
    display: grid;
}

/* FLOAT */

.left {
    float: left;
}

.right {
    float: right;
}

/* TRANSPARENT-INPUT */

.transparent-input {
    background-color: inherit;
    border: none;
    outline: none;
}

/* OTHERS */

.clean-list {
    list-style: none;
}

.muted {
    font-size: 0.7em;
    opacity: 0.5;
}

.display-none {
    display: none;
}