header {
    padding: 10px 30px;
    box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    position: fixed;
    width: 100vw;
    z-index: 2;
    background-color: white;
}

header img {
    height: 40px;
}

header li {
    margin-inline-end: 30px;
    font-size: 1.15rem;
    font-weight: bolder;
}

header li:first-of-type {
    color: #FFAF28;
}

header li:nth-child(2) {
    color: #5BC13A;
}

header li:nth-child(3) {
    color: #6E97F4;
}

header .btn-menu {
    background: url(../../imgs/menu.png) no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    display: none;
    cursor: pointer;
}

header .menu {
    height: 400px;
    width: 400px;
    border-radius: 5px;
    position: absolute;
    top: 70px;
    right: 30px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.95);
}

header .menu button {
    height: 55px;
    width: 55px;
    padding: 0;
    font-size: 1.25em;
    background-color: inherit;
}

header .menu label {
    font-size: 0.75rem;
    margin-top: 2px;
    color: rgba(0, 0, 0, 0.9);
}

header .menu .btn-keep {
    background: url(../../imgs/keep.png) no-repeat;
    background-size: cover;
}

header .menu .btn-book {
    background: url(../../imgs/book.png) no-repeat;
    background-size: cover;
}

header .menu .btn-email {
    background: url(../../imgs/email.png) no-repeat;
    background-size: cover;
}

header .menu .btn-about {
    background: url(../../imgs/about.png) no-repeat;
    background-size: cover;
}

@media (max-width: 960px) {
    header li {
        display: none;
    }
    header .btn-menu {
        display: block;
    }
    header #menu-checkbox:checked+.menu {
        display: flex;
    }
}

@media (max-width: 640px) {
    header .menu {
        height: 300px;
        width: 300px;
    }
}