header {
    padding: 15px 30px;
    box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.75);
    transition: 0.5s;
    position: fixed;
    width: 100vw;
    z-index: 2;
    background-color: white;
}

header img {
    height: 70px;
}

header li {
    margin-inline-end: 30px;
    font-size: 1.15rem;
    font-weight: bolder;
}

header li:first-of-type {
    color: #5BC13A;
}

header li:nth-child(2) {
    color: #6E97F4;
}

header li:nth-child(3) {
    color: #FFAF28;
}