.book-app .btn-sidenav {
    background: url(../imgs/sidenav.png) no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 75px;
    left: 5px;
    padding: 15px;
    z-index: 2;
    cursor: pointer;
 }
 
 @media (max-width: 960px) {
    .book-app .btn-sidenav {
       display: block;
    }
    .book-app #sidenav-checkbox:checked+.book-nav {
       display: flex;
    }
 }